* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.app {
    /*padding: 20px; */
    background-color: #282c34;
    height: 100%;
}

.dark-theme {
    background-color: #282c34;
  }


.input {
    padding: 10px 15px;
    width: 100%;
    border: 3px solid #1ddada;
    margin-top: 15px;
}